body{
    text-align: center;
}
header{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}
nav ul li{
    display: inline;
    padding:30px;
    text-decoration-style: none;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#portfolio{
    background-color: rgb(250, 215, 247);
    padding: 20px;
}
li{
    display: inline;
    padding: 10px;
}
footer{
    background-color: rgb(139 ,16, 16);
    padding: 10px;
    color: aliceblue;
}



